/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

body {
  /*background: url('../img/pattern_130.gif');*/
}

.container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}


/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
/*body .hoodie-account-signedout,*/
html[data-hoodie-account-status=signedin]  .hoodie-account-signedout,
html[data-hoodie-account-status=error]  .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 8px;
  right: 0px;
  margin-right: 0;
  color: white;
}

.hoodie-account-signedin{
  font-size: 12px;
  line-height: 24px;
}

.hoodie-username{
  margin-right: 10px;
}

.playground .nav-tabs {
  margin: 0;
}
.playground .nav-tabs li:first-child {
  margin-left: 10px;
}

#preview {
  padding: 10px;
}
#code {
  position: relative;
  height: 600px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.hero-unit,
.copy {
  background: #EBE7DA;
}
.copy p {
  margin: 0;
}

.footerBar{
  display: block;
  width: 100%;
  height: 40px;
  background: #333;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footerBar .buttons{
  display: block;
  position: relative;
  width: 880px;
  margin: 0px auto;
}

.footerBar .buttons>.btn,
.footerBar .buttons>.btn-group{
  margin-top: 7px;
  margin-right: 6px;
}


textarea,
textarea:focus{
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.delete {
  position: absolute;
  left: 802px;
  display: block;
  top: 14px;
  border-radius: 50%;
  height: 19px;
  width: 20px;
  padding: 1px 0 0 0;
}

.btn-group{
  display: inline-block;
}

.dropup .dropdown-menu.invoiceList{
  left: 0;
  width: auto;
  right: auto;
}